/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  // font-family: "Noto Sans Georgian Cond SemBd";
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:root {
  /* --- Brand Colors --- */
  --primary-color: #2c3e50;    /* Dark Navy/Grey for text & logos */
//   --accent-color: #e67e22;     /* Energetic Orange for CTAs & highlights */
  --accent-color: #8a7bdb; 
  /* --- Utility Colors --- */
  --bg-color: #ffffff;
  --text-color: #333333;
  --light-grey: #f5f5f5;
  --border-color: #e0e0e0;
  
  /* --- Semantic Colors --- */
  --success-color: #27ae60;
  --error-color: #c0392b;

  --purple: #8a7bdb;
  --cream: #c9c8c5;
  --light-cream: #ececec;
  --blue: #213f61;
  --black: #171c1f;
  --green: #0fffb3;
  --deep-purple: #3d316b;
}